
#about_page {
  display: none;
}

.ag-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202124;
  color: white;
  font-family: "Roboto", sans-serif;
}

.ag-container {
  background-color: #323335;
  border-radius: 8px;
  margin-top: 32px;
  padding: 16px 32px 32px;
  min-width: 264px;
  max-width: 400px;
}

.ag-header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ag-logo {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  margin-top: 8px;
}

.ag-h1 {
  margin: 0;
  font-size: 48px;
  font-family: "Sansita Swashed", cursive;
}

.ag-h3 {
  margin: 0 0 16px 0;
  font-size: 24px;
  text-align: center;
  font-weight: 200;
}

.ag-h5 {
  margin: 8px 0 0 0;
  font-size: 16px;
  font-weight: 200;
  position: relative;
}
.ag-h5::after {
  content: "";
  display: block;
  min-height: 0.5px;
  margin: 8px 0 0 0;
  width: 100%;
  transform: none;
  min-width: 100%;
  background-color: #4b4b4b;
}

.about-h5 {
  border-bottom: solid 0.5px #4b4b4b;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  align-items: center;
}
.about-h5 .fa:first-child {
  margin: 0 4px 0 0;
}

.ag-category::after {
  content: "";
  display: block;
  min-height: 0.5px;
  margin: 0 0 0 0;
  width: 100%;
  transform: none;
  min-width: 100%;
  background-color: #4b4b4b;
}

.ag-label {
  font-size: 14px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 8px 0;
  color: #a8a8a8;
}
.ag-label:focus {
  outline: 1px solid #fff;
  color: #ad3d3d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.ag-label:active,
.ag-label:hover {
  outline: none;
  color: #ad3d3d;
  cursor: pointer;
}
.bg:active,
.bg:hover {
  outline: none;
  color: #a8a8a8;
  cursor: default;
}

.ag-color {
  appearance: none;
  border: none;
  border-radius: 22px;
  padding: 0;
  width: 38px;
  height: 22px;
  margin-right: 1px;
  cursor: pointer;
  outline: none;
}
.ag-color:focus-within {
  box-shadow: 0px 0px 1px 2px #fff;
}
.ag-color::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 22px;
  border: 6px solid rgb(75, 75, 75);
  top: 8px;
  right: 78px;
  min-height: 12px;
  width: 28px;
  min-width: 28px;
}

.ag-about {
  margin: 0 6px 0 auto;
}

.ag-save {
  justify-content: center;
  display: flex;
  height: 32px;
  padding-top: 8px;
  align-items: flex-end;
  color: #a8a8a8;
}
.ag-save:focus {
  outline: 1px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.ag-save a {
  margin: 0 2px;
  color: #a8a8a8;
}
.ag-save a:hover {
  color: white;
}

.ag-manifesto {
  font-size: 14px;
  text-align: justify;
  font-weight: 100;
  line-height: 1.5;
  color: #a8a8a8;
}
.ag-manifesto:focus {
  outline: 1px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ag-sup {
  text-decoration: none;
}
.ag-sup i {
  margin-right: 8px;
  font-size: 16px;
}
.ag-sup:hover {
  cursor: pointer;
  color: white;
}

/* ----------------------- Toggle Button ------------- */
.ag-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.ag-toggle input {
  opacity: 0;
  width: 1;
  height: 1;
}

/* The slider */
.ag-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 22px;
  bottom: 0;
  background-color: rgb(75, 75, 75);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ag-toggle .slider:before {
  position: absolute;
  z-index: 1;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  border-radius: 50%;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* OFF symbol */
.ag-toggle:after {
  position: absolute;
  content: "O";
  z-index: 0;
  right: 7px;
  font-size: 9px;
  border-radius: 50%;
  bottom: 7px;
  color: #a8a8a8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* ON symbol */
.ag-toggle:before {
  position: absolute;
  content: "|";
  font-size: 10px;
  z-index: 1;
  left: 10px;
  border-radius: 50%;
  bottom: 6px;
  color: #a8a8a8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ag-toggle input:checked + .slider {
  background-color: #ad3d3d;
}

.ag-toggle input:focus + .slider {
  box-shadow: 0px 0px 1px 2px #fff;
}

.ag-toggle input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.disclaimer {
  display: flex;
  justify-content: center;
  gap: 8px;
  border: 1px solid;
  border-color: #ad3d3d;
  border-radius: 8px;
  margin-top: 32px;
  padding: 16px 32px;
  min-width: 264px;
  max-width: 400px;
}
